[package]
name = "ipscanner"
version = "0.1.0"
edition = "2024"

build = "build.rs"

[dependencies]
swift-bridge = "0.1"

[build-dependencies]
swift-bridge-build = "0.1"

[lib]
crate-type = ["staticlib"]